.header {
	width: 100%;
	height: 70px;
	margin: 0 auto;
	max-width: 1280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: inherit;
	font-family: inherit;
}

.header__logo {
	display: flex;
	align-items: center;
	width: 75px;
	cursor: pointer;
}

.header__logo svg {
	width: 5rem;
	fill: var(--text-primary);
}

.header__logo.active svg {
	fill: var(--clr-primary);
}

.header__nav {
	padding: 1.5rem;
	display: flex;
	flex-direction: row-reverse;
	flex: 1;
}

.header__nav-link {
	font-weight: 700;
	margin-left: 2rem;
	transition: 200ms ease;
	text-decoration: none;
	color: var(--text-primary);
}

.header__nav-link:hover {
	color: var(--clr-primary);
}

.header__nav-link.active {
	color: var(--clr-primary);
}
