main.main {
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding-right: 2rem;
	padding-left: 2rem;
}

.main__title {
	font-size: 2.25rem;
	letter-spacing: var(--ls-tight);
	font-weight: 800;
	margin-bottom: 2.5rem;
	color: var(--text-primary);
}

.projects {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 4rem;
}

.project {
	color: var(--text-primary);
	text-decoration: none;
}

.project__image {
	border-radius: .75rem;
}

.project__title {
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 1;
	letter-spacing: var(--ls-tight);
	margin: 1rem 0 .25rem 0;
	color: var(--text-primary);
}

.project:hover .project__title {
	color: var(--clr-primary);
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

@media (min-width: 768px) {
	.projects {
		grid-template-columns: repeat(3, 1fr);
	}
}
