main.main {
	margin-top: 2.5rem;
	margin-bottom: 5rem;
	padding-right: 2rem;
	padding-left: 2rem;
}

.project__title {
	font-size: 1.5rem;
	letter-spacing: var(--ls-tight);
	font-weight: 800;
	margin: 1rem 0;
	color: var(--text-primary);
}

.project__subtitle {
	font-size: 1.2rem;
	letter-spacing: var(--ls-tight);
	font-weight: 800;
	margin: 1rem 0;
	color: var(--text-primary);
}

.project__link {
	color: var(--clr-primary);
	font-weight: 700;
	text-decoration-thickness: 2px;
}

.project__description {
	color: var(--text-secondary);
	margin-top: 1rem;
}

.project__image {
	border-radius: .75rem;
	width: 100%;
}

.project__issues {
	margin-bottom: 2rem;
}

.project__ol {
	color: var(--text-secondary);
}

.project__ol li {
	margin: .75rem 1rem;
}

.project__grid {
	display: flex;
	gap: 2.75rem;
}

.project__grid > * {
	margin: 1rem 0;
}

.project__list-title {
	font-size: 1.5rem;
	letter-spacing: var(--ls-tight);
	font-weight: 700;
	margin: .5rem 0;
	color: var(--text-primary);
}

.project__list-list li {
	display: flex;
	align-items: center;
	gap: .5rem;
}

.project__list-list.arrow li:before {
	content: '\2192';
	margin-right: .75rem;
	color: var(--clr-primary);
}

.project__list-list li svg {
	width: 20px;
	color: red;
}

.project__list-list li svg.check {
	color: green;
}

@media (min-width: 768px) {
	.project__image {
		border-radius: .75rem;
		max-width: 50%;
	}

	.project__title {
		font-size: 2.25rem;
	}

	.project__subtitle {
		font-size: 1.5rem;
	}
}
